body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width:250px;
    height:370px;
}

input {
    height: 20px;
    width: 400px;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    color:red;
}

.btn-group, #dropdown-btn, #toggle-arrow {
    height: 20px;
}

 #unordered-list > li,  #unordered-list > li > a {
    height: 20px;
    font-size: 13px;
}

 #dropdown-btn,  #toggle-arrow {
    padding: 0 0.5em 0 0.5em;
}

 #dropdown-btn {
    font-size: 13px;
    width: 125px;
    text-align: left;
}

 #logo {
    max-height: 35px;
    margin-right: 10px;
}

 .cont {
    margin: 15px;
}

 .in-line > img,  .in-line > h4,
 .in-line > button,  .in-line > p {
    display: inline-block;
}

 .settings-section {
    margin-bottom: 10px;
}

 h4 {
    vertical-align: middle;
    line-height: normal;
    margin: 0;
}

 hr {
    margin: 0;
}

 h6 {
    font-weight: bold;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

 .input-group {
    margin: 0;
    max-height: 35px;
}

 input {
    font-size: 13px;
    max-width: 130px;
}

 #save-btn {
    min-width: 50px;
}

 .fix-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

 .err_msg {
    color:red;
}

 .succ_msg {
    color:green;
}

 #submission_msg,  #freq_error,  #username_error {
    height: 10px;
}

 .text-bottom {
    vertical-align: bottom;
    font-size: 12px;
}

 .alert {
    width: 100%;
    padding: 0;
}
